@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Marquee animation utility */
.animate-marquee {
  animation: marquee 25s linear infinite;
  display: flex;
  width: max-content;
}